@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet');

body {
    background-color: rgb(138, 186, 202);

    h1 {
        font-family: "Bebas Neue";
        font-size: 2.5rem;
        margin-top: 1rem;
        display: inline-block;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        color: rgb(255, 255, 255);
    }

    h2 {
        font-family: "Bebas Neue";
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    h3 {
        font-family: "Bebas Neue";
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

}

.Header1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: row;

    top: 4;
    right: 4px;
    left: 4px;

    justify-content: center;
    align-items: center;
    height: 100 px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    background-color: rgb(241, 146, 68);

    background-image: url('./assets/singlebook.PNG');
    background-position: left;
    background-repeat: no-repeat;
}


.Slider {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}

.Loans-grid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 10px;
}

.Books-grid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 10px;
    text-align: center;
}

.FooterGrid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: rgb(241, 146, 68);

    text-align: center;
    color: white;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 80 px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    background-image: url('./assets/widepileofbooks.PNG');
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 15px;
}

/* THESE NEXT ONES ARE FOR LOGIN AND REGISTER MODALS: */

.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.LogoutButton {
    /* position of the button (position, top, right), don't remove */
    position: absolute;
    top: 45px;
    right: 50px;
    width: 40px;
    color: rgb(255, 255, 255);
    cursor: 'pointer'
}

.RegButton {
    /* position of the button (position, top, right), don't remove */
    position: absolute;
    top: 45px;
    right: 120px;
    width: 40px;
    color: rgb(255, 255, 255);
    cursor: 'pointer'
}