.Filter {
  margin: 0px;
  align-content: right;
}

.plainText {
  font-family: sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10;
  color: rgb(255, 255, 255);
}

.selector {
  border-radius: 20px;
  background-color: rgb(241, 146, 68);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20;
}