@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.Carousel {
    font-family: "Bebas Neue";
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    color: rgb(255, 255, 255);
    border: solid 1px white;
    border-radius: 6px;
    background-color: white;
}

h2 {
    font-family: "Bebas Neue";
    font-size: 2.5rem;
    color: rgb(138, 186, 202);
    text-align: center;
}

.review {
    font-size: 1.5rem;
    color: rgb(241, 146, 68);
    font-family: sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
    text-align: center;
}

.user {
    font-family: sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: smaller;
    text-align: right;
    margin-right: 10%;
    color: rgb(241, 146, 68);
}

.reviewTitle {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: large;
    color: rgb(241, 146, 68);
}