.Footer {
    background-color: rgb(241, 146, 68);
    width: 90%;
    padding: 15px;
    text-align: center;
    color: white;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 80 px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}

h3 {
    font-family: "Bebas Neue";
}