input {
  font-family: sans-serif;
  margin: 2px;
  border-radius: 20px;
}

label {
  font-family: sans-serif;
  margin: 2px;
}

.Login-gridi {
  align-items: center;
}

.loginh2 {
  font-size: large;
  font-family: sans-serif;
  font-weight: 500;
  text-align: center;
  color: rgb(241, 146, 68);
  margin-bottom: 10px;
  padding: 5px;
}

p {
  font-family: sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10;
  color: black;
  text-align: center;
}

.LoginButton {
  border-radius: 20px;
  background-color: rgb(241, 146, 68);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.plainText {
  font-family: sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10;
  color: rgb(255, 255, 255);
}