@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.Grid-container {
  display: grid;
}

.OwnLoans {
  text-align: center;
  align-content: center;
  margin-bottom: 20px;
}

.ownloanstitle {
  font-family: "Bebas Neue";
  font-size: 2.5rem;
  margin-top: 1rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
}

.Loaned,
.Returned,
.submitButton {
  border-radius: 20px;
  background-color: rgb(241, 146, 68);
  border: none;
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  grid-template-columns: repeat(n, 1fr);
  gap: 10px 10px;
}

.LoanedBooks ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
  margin: 20px;
  list-style-type: none;
}

.loanedList {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  text-align: center;
  padding: 10px;
  flex: 0 1 auto;
}

.loanedList img {
  max-width: 100%;
  height: auto;
}

.loanstate {
  border-radius: 20px;
  background-color: rgb(241, 146, 68);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  box-sizing: border-box;
}

#textAreaContainer {
  margin-top: 10px;
  width: 100%;
}

#textArea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

.plaintext {
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}

#textAreaContainer {
  margin-top: 10px;
  width: 100%;
  padding-right: 15px;
}

#textArea {
  width: 97%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

img {
  margin-bottom: 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  gap: 20px;
}

.loanedList {
  display: flex;
  flex-grow: 1;
  min-width: 15%;
  flex-basis: auto;
  gap: 5px;
  justify-content: left;
  text-align: left;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: #ffffff;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 6px;
  font-family: sans-serif;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: rgb(29, 29, 29);
  max-width: 1200px;
}

.loans {
  margin: 20px auto;
  background-color: white;
  max-width: 1200px;
  /*max width */
  padding: 20px;
  border-radius: 6px;
}

.loans h2 {
  margin-top: 20px;
  background-color: white;
}

.loans ul {
  list-style-type: none;
  padding: 5px;
  background-color: white;
  max-width: 1200px;
}

.loans li {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: white;
  max-width: 1200px;
}