@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.H1 {
  font-size: large;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
}

.plainTextb {
  font-family: sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10;
  color: rgb(0, 0, 0);
}

.plainText {
  font-family: sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10;
  color: rgb(255, 255, 255);
}

.ShowCollection {
  border: none;
}

.Gridcollection {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.Gridcollection>div {
  background-color: #f0f0f0;
  text-align: center;
}

/* this is unordered list */
.CollectionList {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.CollectionListItem {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  gap: 5px;
  justify-content: left space-evenly;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: #ffffff;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 6px;
  font-family: sans-serif;
  font-weight: 500;
  kerning: auto;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 1 rem;
  margin-right: 1rem;
  margin-bottom: 1 rem;
  color: rgb(29, 29, 29);
  flex: 0 1 auto;
  width: 250px;
}

.button-round1 {
  border-radius: 20px;
  background-color: rgb(241, 146, 68);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20;
  display: flex;
  justify-content: space-between;
}

#paginate {
  font-size: medium;
  color: white;
  background-color: transparent;
  padding: 2px;
  cursor: pointer;
  font-family: sans-serif;
}